****CENSUS DATA STANDARDIZATION AND ANALYSIS PIPELINE****

In [3]:
import pandas as pd

In [158]:
df = pd.read_csv('census_2011.csv',delimiter=',')

In [160]:
df

,District code,State name,District name,Population,Male,Female,Literate,Male_Literate,Female_Literate,SC,...,Power_Parity_Rs_90000_150000,Power_Parity_Rs_45000_150000,Power_Parity_Rs_150000_240000,Power_Parity_Rs_240000_330000,Power_Parity_Rs_150000_330000,Power_Parity_Rs_330000_425000,Power_Parity_Rs_425000_545000,Power_Parity_Rs_330000_545000,Power_Parity_Above_Rs_545000,Total_Power_Parity
0,1,JAMMU AND KASHMIR,Kupwara,870354.0,474190.0,396164.0,439654.0,282823.0,156831.0,1048.0,...,94.0,588.0,71.0,101.0,172.0,74.0,10.0,84.0,15.0,1119.0
1,2,JAMMU AND KASHMIR,Badgam,753745.0,NaN,355704.0,335649.0,207741.0,127908.0,NaN,...,126.0,562.0,72.0,89.0,161.0,96.0,28.0,124.0,18.0,1066.0
2,3,JAMMU AND KASHMIR,Leh(Ladakh),133487.0,78971.0,54516.0,93770.0,62834.0,30936.0,488.0,...,46.0,122.0,15.0,22.0,NaN,20.0,NaN,NaN,17.0,242.0
3,4,JAMMU AND KASHMIR,Kargil,140802.0,NaN,63017.0,NaN,56301.0,29935.0,18.0,...,27.0,114.0,12.0,18.0,30.0,19.0,3.0,22.0,7.0,214.0
4,5,JAMMU AND KASHMIR,Punch,NaN,251899.0,224936.0,261724.0,163333.0,98391.0,556.0,...,78.0,346.0,35.0,50.0,85.0,59.0,8.0,67.0,12.0,629.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
635,636,PONDICHERRY,Mahe,41816.0,19143.0,22673.0,36470.0,16610.0,19860.0,144.0,...,2316.0,4309.0,1370.0,838.0,2208.0,576.0,978.0,1554.0,1446.0,10027.0
636,637,PONDICHERRY,Karaikal,200222.0,97809.0,102413.0,154916.0,79903.0,75013.0,35348.0,...,1063.0,2408.0,665.0,340.0,1005.0,246.0,NaN,729.0,341.0,4890.0
637,638,ANDAMAN AND NICOBAR ISLANDS,Nicobars,36842.0,20727.0,NaN,25332.0,15397.0,9935.0,0.0,...,685.0,1895.0,212.0,134.0,346.0,70.0,120.0,190.0,84.0,3151.0
638,639,ANDAMAN AND NICOBAR ISLANDS,North AND Middle Andaman,105597.0,54861.0,50736.0,78683.0,43186.0,35497.0,0.0,...,685.0,1895.0,212.0,NaN,346.0,70.0,120.0,190.0,84.0,3151.0
639,640,ANDAMAN AND NICOBAR ISLANDS,South Andaman,NaN,127283.0,110859.0,190266.0,105794.0,84472.0,0.0,...,1371.0,3020.0,649.0,368.0,1017.0,265.0,497.0,762.0,376.0,5782.0

# Task 1: Rename the Column names

In [163]:
df.rename(columns={
    'State name': 'State_UT',
    'District name': 'District',
    'Male_Literate': 'Literate_Male',
    'Female_Literate': 'Literate_Female',
    'Rural_Households': 'Households_Rural',
    'Urban_Households': 'Households_Urban',
    'Age_Group_0_29': 'Young_and_Adult',
    'Age_Group_30_49': 'Middle_Aged',
    'Age_Group_50': 'Senior_Citizen',
    'Age not stated': 'Age_Not_Stated',
    'Households_with_TV_Computer_Laptop_Telephone_mobile_phone_and_Scooter_Car': 'HHs_TV_Computer_Laptop_Tele_mobile_Scooter_Car',
    'Type_of_latrine_facility_Night_soil_disposed_into_open_drain_Households': 'Type_of_latrine_facility_Night_soil',
    'Type_of_latrine_facility_Flush_pour_flush_latrine_connected_to_other_system_Households': 'Type_of_latrine_facility_Flush_pour',
    'Not_having_latrine_facility_within_the_premises_Alternative_source_Open_Households': 'Not_having_latrine_facility_Open_HHs',
    'Main_source_of_drinking_water_Handpump_Tubewell_Borewell_Households': 'Main_source_of_drinking_water_Handpump',
    'Main_source_of_drinking_water_Other_sources_Spring_River_Canal_Tank_Pond_Lake_Other_sources__Households': 'Main_source_of_drinking_water_Other_sources',
}, inplace=True)

# Task 2: Rename State/UT Names

In [166]:
df['State_UT'].apply(lambda x: ' '.join([i.capitalize() if i.lower() != 'and' else i.lower() for i in x.split(' ')]))

0                Jammu and Kashmir
1                Jammu and Kashmir
2                Jammu and Kashmir
3                Jammu and Kashmir
4                Jammu and Kashmir
                  ...
635                    Pondicherry
636                    Pondicherry
637    Andaman and Nicobar Islands
638    Andaman and Nicobar Islands
639    Andaman and Nicobar Islands
Name: State_UT, Length: 640, dtype: object

In [168]:
df['State_UT'] = df['State_UT'].apply(lambda x: ' '.join([i.capitalize() if i.lower() != 'and' else i.lower() for i in x.split(' ')]))

# Task 3: New State/UT formation

In [171]:
new_telengana_districts = ['Adilabad'
,'Nizamabad'
,'Karimnagar'
,'Medak'
,'Hyderabad'
,'Rangareddy'
,'Mahbubnagar'
,'Nalgonda'
,'Warangal'
,'Khammam'
]

In [173]:
new_ladakh_districts = ['Leh(Ladakh)', 'Kargil']

In [175]:
df['District'].isin(new_telengana_districts)

0      False
1      False
2      False
3      False
4      False
       ...
635    False
636    False
637    False
638    False
639    False
Name: District, Length: 640, dtype: bool

In [177]:
df.loc[df['District'].isin(new_telengana_districts),'State_UT'] = 'Telengana'

In [179]:
df.loc[df['District'].isin(new_telengana_districts)]

,District code,State_UT,District,Population,Male,Female,Literate,Literate_Male,Literate_Female,SC,...,Power_Parity_Rs_90000_150000,Power_Parity_Rs_45000_150000,Power_Parity_Rs_150000_240000,Power_Parity_Rs_240000_330000,Power_Parity_Rs_150000_330000,Power_Parity_Rs_330000_425000,Power_Parity_Rs_425000_545000,Power_Parity_Rs_330000_545000,Power_Parity_Above_Rs_545000,Total_Power_Parity
531,532,Telengana,Adilabad,2741239.0,NaN,1371642.0,1483347.0,856350.0,626997.0,488596.0,...,1266.0,2870.0,84.0,122.0,206.0,134.0,213.0,347.0,109.0,4181.0
532,533,Telengana,Nizamabad,2551335.0,1250641.0,1300694.0,1389810.0,790214.0,599596.0,371074.0,...,931.0,2399.0,61.0,60.0,121.0,71.0,105.0,176.0,100.0,NaN
533,534,Telengana,Karimnagar,3776269.0,1880800.0,1895469.0,2206829.0,1257238.0,949591.0,709757.0,...,1420.0,3583.0,128.0,99.0,227.0,119.0,173.0,292.0,186.0,5251.0
534,535,Telengana,Medak,3033288.0,1523030.0,1510258.0,1637137.0,953406.0,683731.0,537947.0,...,997.0,2656.0,84.0,59.0,143.0,71.0,102.0,173.0,116.0,3874.0
535,536,Telengana,Hyderabad,3943323.0,2018575.0,1924748.0,2892155.0,1542688.0,1349467.0,247927.0,...,3204.0,5212.0,1708.0,494.0,2202.0,NaN,860.0,1531.0,1710.0,11071.0
536,537,Telengana,Rangareddy,5296741.0,2701008.0,2595733.0,NaN,1948784.0,1589244.0,652042.0,...,2912.0,5426.0,528.0,373.0,901.0,438.0,650.0,1088.0,603.0,NaN
537,538,Telengana,Mahbubnagar,4053028.0,2050386.0,2002642.0,1940646.0,1158386.0,782260.0,708954.0,...,1137.0,3241.0,70.0,54.0,124.0,65.0,95.0,160.0,102.0,4695.0
538,539,Telengana,Nalgonda,3488809.0,1759772.0,1729037.0,2001019.0,1160757.0,840262.0,637385.0,...,1106.0,3043.0,NaN,72.0,136.0,84.0,125.0,209.0,113.0,4468.0
539,540,Telengana,Warangal,3512576.0,1759281.0,1753295.0,2065023.0,1179790.0,885233.0,616102.0,...,1203.0,3139.0,135.0,93.0,228.0,112.0,162.0,274.0,185.0,4762.0
540,541,Telengana,Khammam,2797370.0,1390988.0,1406382.0,1630234.0,901640.0,728594.0,462896.0,...,1012.0,2596.0,75.0,78.0,153.0,92.0,136.0,NaN,127.0,3836.0

In [181]:
df['District'].isin(new_ladakh_districts)

0      False
1      False
2       True
3       True
4      False
       ...
635    False
636    False
637    False
638    False
639    False
Name: District, Length: 640, dtype: bool

In [183]:
df.loc[df['District'].isin(new_ladakh_districts),'State_UT'] = 'Ladakh'
df.loc[df['District'].isin(new_ladakh_districts)]

,District code,State_UT,District,Population,Male,Female,Literate,Literate_Male,Literate_Female,SC,...,Power_Parity_Rs_90000_150000,Power_Parity_Rs_45000_150000,Power_Parity_Rs_150000_240000,Power_Parity_Rs_240000_330000,Power_Parity_Rs_150000_330000,Power_Parity_Rs_330000_425000,Power_Parity_Rs_425000_545000,Power_Parity_Rs_330000_545000,Power_Parity_Above_Rs_545000,Total_Power_Parity
2,3,Ladakh,Leh(Ladakh),133487.0,78971.0,54516.0,93770.0,62834.0,30936.0,488.0,...,46.0,122.0,15.0,22.0,NaN,20.0,NaN,NaN,17.0,242.0
3,4,Ladakh,Kargil,140802.0,NaN,63017.0,NaN,56301.0,29935.0,18.0,...,27.0,114.0,12.0,18.0,30.0,19.0,3.0,22.0,7.0,214.0

# Task 4: Find and process Missing Data

In [186]:
df1 = df.isna().mean() * 100

In [188]:
df1

District code                    0.00000
State_UT                         0.00000
District                         0.00000
Population                       4.68750
Male                             4.68750
                                  ...
Power_Parity_Rs_330000_425000    5.15625
Power_Parity_Rs_425000_545000    4.68750
Power_Parity_Rs_330000_545000    3.59375
Power_Parity_Above_Rs_545000     4.68750
Total_Power_Parity               5.00000
Length: 118, dtype: float64

In [190]:
df['Population'] = df['Male'].fillna(0) + df['Female'].fillna(0)

In [192]:
df['Literate'] = df['Literate_Male'].fillna(0) + df['Literate_Female'].fillna(0)

In [194]:
df['Population']  = df['Young_and_Adult'].fillna(0) +  df['Middle_Aged'].fillna(0) + df['Senior_Citizen'].fillna(0) + df['Age_Not_Stated'].fillna(0)

In [196]:
df['Households'] = df['Households_Rural'] + df['Households_Urban']

In [198]:
df['SC'] = df['Male_SC'] + df['Female_SC']

In [200]:
df['SC'] = df['Male_SC'].fillna(0) + df['Female_SC'].fillna(0)

In [202]:
df['ST'] = df['Male_ST'].fillna(0) + df['Female_ST'].fillna(0)

In [204]:
df['Workers'] = df['Male_Workers'].fillna(0) + df['Female_Workers'].fillna(0)

In [206]:
df['Main_Workers'].mean()

562126.9133986929

In [208]:
df['Main_Workers'] = df['Main_Workers'].fillna(562126.9)

In [210]:
df['Marginal_Workers'].mean()

184369.38935108154

In [212]:
df['Marginal_Workers'] = df['Marginal_Workers'].fillna(184369.3)

In [214]:
df['Non_Workers'].mean()

1149683.236754967

In [216]:
df['Non_Workers'] = df['Non_Workers'].fillna(1149683.2)

In [218]:
df['Cultivator_Workers'].mean()

186126.8968903437

In [220]:
df['Cultivator_Workers'] = df['Cultivator_Workers'].fillna(186126.8)

In [222]:
df['Agricultural_Workers'].mean()

225944.6982055465

In [224]:
df['Agricultural_Workers'] = df['Agricultural_Workers'].fillna(225944.69)

In [226]:
df['Household_Workers'].mean()

27981.906862745098

In [228]:
df['Household_Workers'] = df['Household_Workers'].fillna(27981.9)

In [230]:
df['Other_Workers'].mean()

316245.83496732026

In [232]:
df['Other_Workers'] = df['Other_Workers'].fillna(316245.8)

In [234]:
df['Male'] = df['Population'].fillna(0) - df['Female'].fillna(0)

In [236]:
df['Female'] = df['Population'] - df['Male']

In [238]:
df['Households'] = df['Households_Rural'].fillna(0) + df['Households_Urban'].fillna(0)

In [240]:
df['Households_Rural'] = df['Households'].fillna(0) - df['Households_Urban'].fillna(0)

In [242]:
df['Households_Urban'] = df['Households'] - df['Households_Rural']

In [244]:
df['Total_Education'] = df['Literate_Education'].fillna(0) + df['Illiterate_Education'].fillna(0)

In [246]:
df['Literate_Education'] = df['Total_Education'].fillna(0) - df['Illiterate_Education'].fillna(0)

In [248]:
df['Illiterate_Education'] = df['Total_Education'] - df['Literate_Education']

In [250]:
df['Household_size_1_to_2_persons'] = df['Household_size_1_person_Households'].fillna(0) + df['Household_size_2_persons_Households'].fillna(0)

In [252]:
df['Household_size_1_person_Households'] = df['Household_size_1_to_2_persons'].fillna(0) - df['Household_size_2_persons_Households'].fillna(0)

In [254]:
df['Household_size_2_persons_Households'] = df['Household_size_1_to_2_persons'].fillna(0) - df['Household_size_1_person_Households'].fillna(0)

In [256]:
df['Household_size_3_to_5_persons_Households'] = df['Household_size_3_persons_Households'].fillna(0) + df['Household_size_4_persons_Households'].fillna(0) + df['Household_size_5_persons_Households'].fillna(0)

In [258]:
df['Married_couples_3_or_more_Households'] = df['Married_couples_3_Households'].fillna(0) + df['Married_couples_4_Households'].fillna(0) + df['Married_couples_5__Households'].fillna(0)

In [260]:
df['Power_Parity_Rs_45000_150000'] = df['Power_Parity_Rs_45000_90000'].fillna(0) + df['Power_Parity_Rs_90000_150000'].fillna(0)

In [262]:
df['Power_Parity_Rs_45000_90000'] = df['Power_Parity_Rs_45000_150000'].fillna(0) - df['Power_Parity_Rs_90000_150000'].fillna(0)

In [264]:
df['Power_Parity_Rs_90000_150000'] = df['Power_Parity_Rs_45000_150000'].fillna(0) - df['Power_Parity_Rs_45000_90000'].fillna(0)

In [266]:
df['Power_Parity_Rs_150000_330000'] = df['Power_Parity_Rs_150000_240000'].fillna(0) + df['Power_Parity_Rs_240000_330000'].fillna(0)

In [268]:
df['Power_Parity_Rs_150000_240000'] = df['Power_Parity_Rs_150000_330000'].fillna(0) - df['Power_Parity_Rs_240000_330000'].fillna(0)

In [270]:
df['Power_Parity_Rs_240000_330000'] = df['Power_Parity_Rs_150000_330000'].fillna(0) - df['Power_Parity_Rs_150000_240000'].fillna(0)

In [272]:
df['Power_Parity_Rs_330000_545000'] = df['Power_Parity_Rs_330000_425000'].fillna(0) + df['Power_Parity_Rs_425000_545000'].fillna(0)

In [274]:
df['Power_Parity_Rs_330000_425000'] = df['Power_Parity_Rs_330000_545000'].fillna(0) - df['Power_Parity_Rs_425000_545000'].fillna(0)

In [276]:
df['Power_Parity_Rs_425000_545000'] = df['Power_Parity_Rs_330000_545000'].fillna(0) - df['Power_Parity_Rs_330000_425000'].fillna(0)

In [278]:
df['Total_Power_Parity'] = df['Power_Parity_Less_than_Rs_45000'].fillna(0) + df['Power_Parity_Rs_45000_150000'].fillna(0) + df['Power_Parity_Rs_150000_330000'].fillna(0) + df['Power_Parity_Rs_330000_545000'].fillna(0) + df['Power_Parity_Above_Rs_545000'].fillna(0)

# Comparing the amount of missing data before and after the data-filling process was done

In [281]:
df2 = df.isna().mean() * 100

In [283]:
df2 #After finding missing data using formulas identified

District code                    0.0000
State_UT                         0.0000
District                         0.0000
Population                       0.0000
Male                             0.0000
                                  ...
Power_Parity_Rs_330000_425000    0.0000
Power_Parity_Rs_425000_545000    0.0000
Power_Parity_Rs_330000_545000    0.0000
Power_Parity_Above_Rs_545000     4.6875
Total_Power_Parity               0.0000
Length: 118, dtype: float64

In [285]:
df1 #Before handling missing data

District code                    0.00000
State_UT                         0.00000
District                         0.00000
Population                       4.68750
Male                             4.68750
                                  ...
Power_Parity_Rs_330000_425000    5.15625
Power_Parity_Rs_425000_545000    4.68750
Power_Parity_Rs_330000_545000    3.59375
Power_Parity_Above_Rs_545000     4.68750
Total_Power_Parity               5.00000
Length: 118, dtype: float64

In [287]:
df3 = df.fillna(0).isna().mean() #Filling the remaining missing data with zero making it easier for performing SQL operations/calculations

In [289]:
df3

District code                    0.0
State_UT                         0.0
District                         0.0
Population                       0.0
Male                             0.0
                                ...
Power_Parity_Rs_330000_425000    0.0
Power_Parity_Rs_425000_545000    0.0
Power_Parity_Rs_330000_545000    0.0
Power_Parity_Above_Rs_545000     0.0
Total_Power_Parity               0.0
Length: 118, dtype: float64

# Task 5: Save Data to MongoDB

In [292]:
from pymongo import MongoClient

In [294]:
client = MongoClient("mongodb://localhost:27017/")

In [296]:
db = client['Guvi']

In [298]:
collection = db['census']

In [300]:
collection

Collection(Database(MongoClient(host=['localhost:27017'], document_class=dict, tz_aware=False, connect=True), 'Guvi'), 'census')

In [302]:
collection.insert_many(df.to_dict('records'))

InsertManyResult([ObjectId('67ac55453abb9f21eaaaa245'), ObjectId('67ac55453abb9f21eaaaa246'), ObjectId('67ac55453abb9f21eaaaa247'), ObjectId('67ac55453abb9f21eaaaa248'), ObjectId('67ac55453abb9f21eaaaa249'), ObjectId('67ac55453abb9f21eaaaa24a'), ObjectId('67ac55453abb9f21eaaaa24b'), ObjectId('67ac55453abb9f21eaaaa24c'), ObjectId('67ac55453abb9f21eaaaa24d'), ObjectId('67ac55453abb9f21eaaaa24e'), ObjectId('67ac55453abb9f21eaaaa24f'), ObjectId('67ac55453abb9f21eaaaa250'), ObjectId('67ac55453abb9f21eaaaa251'), ObjectId('67ac55453abb9f21eaaaa252'), ObjectId('67ac55453abb9f21eaaaa253'), ObjectId('67ac55453abb9f21eaaaa254'), ObjectId('67ac55453abb9f21eaaaa255'), ObjectId('67ac55453abb9f21eaaaa256'), ObjectId('67ac55453abb9f21eaaaa257'), ObjectId('67ac55453abb9f21eaaaa258'), ObjectId('67ac55453abb9f21eaaaa259'), ObjectId('67ac55453abb9f21eaaaa25a'), ObjectId('67ac55453abb9f21eaaaa25b'), ObjectId('67ac55453abb9f21eaaaa25c'), ObjectId('67ac55453abb9f21eaaaa25d'), ObjectId('67ac55453abb9f21eaaaa25e'), ObjectId('67ac55453abb9f21eaaaa25f'), ObjectId('67ac55453abb9f21eaaaa260'), ObjectId('67ac55453abb9f21eaaaa261'), ObjectId('67ac55453abb9f21eaaaa262'), ObjectId('67ac55453abb9f21eaaaa263'), ObjectId('67ac55453abb9f21eaaaa264'), ObjectId('67ac55453abb9f21eaaaa265'), ObjectId('67ac55453abb9f21eaaaa266'), ObjectId('67ac55453abb9f21eaaaa267'), ObjectId('67ac55453abb9f21eaaaa268'), ObjectId('67ac55453abb9f21eaaaa269'), ObjectId('67ac55453abb9f21eaaaa26a'), ObjectId('67ac55453abb9f21eaaaa26b'), ObjectId('67ac55453abb9f21eaaaa26c'), ObjectId('67ac55453abb9f21eaaaa26d'), ObjectId('67ac55453abb9f21eaaaa26e'), ObjectId('67ac55453abb9f21eaaaa26f'), ObjectId('67ac55453abb9f21eaaaa270'), ObjectId('67ac55453abb9f21eaaaa271'), ObjectId('67ac55453abb9f21eaaaa272'), ObjectId('67ac55453abb9f21eaaaa273'), ObjectId('67ac55453abb9f21eaaaa274'), ObjectId('67ac55453abb9f21eaaaa275'), ObjectId('67ac55453abb9f21eaaaa276'), ObjectId('67ac55453abb9f21eaaaa277'), ObjectId('67ac55453abb9f21eaaaa278'), ObjectId('67ac55453abb9f21eaaaa279'), ObjectId('67ac55453abb9f21eaaaa27a'), ObjectId('67ac55453abb9f21eaaaa27b'), ObjectId('67ac55453abb9f21eaaaa27c'), ObjectId('67ac55453abb9f21eaaaa27d'), ObjectId('67ac55453abb9f21eaaaa27e'), ObjectId('67ac55453abb9f21eaaaa27f'), ObjectId('67ac55453abb9f21eaaaa280'), ObjectId('67ac55453abb9f21eaaaa281'), ObjectId('67ac55453abb9f21eaaaa282'), ObjectId('67ac55453abb9f21eaaaa283'), ObjectId('67ac55453abb9f21eaaaa284'), ObjectId('67ac55453abb9f21eaaaa285'), ObjectId('67ac55453abb9f21eaaaa286'), ObjectId('67ac55453abb9f21eaaaa287'), ObjectId('67ac55453abb9f21eaaaa288'), ObjectId('67ac55453abb9f21eaaaa289'), ObjectId('67ac55453abb9f21eaaaa28a'), ObjectId('67ac55453abb9f21eaaaa28b'), ObjectId('67ac55453abb9f21eaaaa28c'), ObjectId('67ac55453abb9f21eaaaa28d'), ObjectId('67ac55453abb9f21eaaaa28e'), ObjectId('67ac55453abb9f21eaaaa28f'), ObjectId('67ac55453abb9f21eaaaa290'), ObjectId('67ac55453abb9f21eaaaa291'), ObjectId('67ac55453abb9f21eaaaa292'), ObjectId('67ac55453abb9f21eaaaa293'), ObjectId('67ac55453abb9f21eaaaa294'), ObjectId('67ac55453abb9f21eaaaa295'), ObjectId('67ac55453abb9f21eaaaa296'), ObjectId('67ac55453abb9f21eaaaa297'), ObjectId('67ac55453abb9f21eaaaa298'), ObjectId('67ac55453abb9f21eaaaa299'), ObjectId('67ac55453abb9f21eaaaa29a'), ObjectId('67ac55453abb9f21eaaaa29b'), ObjectId('67ac55453abb9f21eaaaa29c'), ObjectId('67ac55453abb9f21eaaaa29d'), ObjectId('67ac55453abb9f21eaaaa29e'), ObjectId('67ac55453abb9f21eaaaa29f'), ObjectId('67ac55453abb9f21eaaaa2a0'), ObjectId('67ac55453abb9f21eaaaa2a1'), ObjectId('67ac55453abb9f21eaaaa2a2'), ObjectId('67ac55453abb9f21eaaaa2a3'), ObjectId('67ac55453abb9f21eaaaa2a4'), ObjectId('67ac55453abb9f21eaaaa2a5'), ObjectId('67ac55453abb9f21eaaaa2a6'), ObjectId('67ac55453abb9f21eaaaa2a7'), ObjectId('67ac55453abb9f21eaaaa2a8'), ObjectId('67ac55453abb9f21eaaaa2a9'), ObjectId('67ac55453abb9f21eaaaa2aa'), ObjectId('67ac55453abb9f21eaaaa2ab'), ObjectId('67ac55453abb9f21eaaaa2ac'), ObjectId('67ac55453abb9f21eaaaa2ad'), ObjectId('67ac55453abb9f21eaaaa2ae'), ObjectId('67ac55453abb9f21eaaaa2af'), ObjectId('67ac55453abb9f21eaaaa2b0'), ObjectId('67ac55453abb9f21eaaaa2b1'), ObjectId('67ac55453abb9f21eaaaa2b2'), ObjectId('67ac55453abb9f21eaaaa2b3'), ObjectId('67ac55453abb9f21eaaaa2b4'), ObjectId('67ac55453abb9f21eaaaa2b5'), ObjectId('67ac55453abb9f21eaaaa2b6'), ObjectId('67ac55453abb9f21eaaaa2b7'), ObjectId('67ac55453abb9f21eaaaa2b8'), ObjectId('67ac55453abb9f21eaaaa2b9'), ObjectId('67ac55453abb9f21eaaaa2ba'), ObjectId('67ac55453abb9f21eaaaa2bb'), ObjectId('67ac55453abb9f21eaaaa2bc'), ObjectId('67ac55453abb9f21eaaaa2bd'), ObjectId('67ac55453abb9f21eaaaa2be'), ObjectId('67ac55453abb9f21eaaaa2bf'), ObjectId('67ac55453abb9f21eaaaa2c0'), ObjectId('67ac55453abb9f21eaaaa2c1'), ObjectId('67ac55453abb9f21eaaaa2c2'), ObjectId('67ac55453abb9f21eaaaa2c3'), ObjectId('67ac55453abb9f21eaaaa2c4'), ObjectId('67ac55453abb9f21eaaaa2c5'), ObjectId('67ac55453abb9f21eaaaa2c6'), ObjectId('67ac55453abb9f21eaaaa2c7'), ObjectId('67ac55453abb9f21eaaaa2c8'), ObjectId('67ac55453abb9f21eaaaa2c9'), ObjectId('67ac55453abb9f21eaaaa2ca'), ObjectId('67ac55453abb9f21eaaaa2cb'), ObjectId('67ac55453abb9f21eaaaa2cc'), ObjectId('67ac55453abb9f21eaaaa2cd'), ObjectId('67ac55453abb9f21eaaaa2ce'), ObjectId('67ac55453abb9f21eaaaa2cf'), ObjectId('67ac55453abb9f21eaaaa2d0'), ObjectId('67ac55453abb9f21eaaaa2d1'), ObjectId('67ac55453abb9f21eaaaa2d2'), ObjectId('67ac55453abb9f21eaaaa2d3'), ObjectId('67ac55453abb9f21eaaaa2d4'), ObjectId('67ac55453abb9f21eaaaa2d5'), ObjectId('67ac55453abb9f21eaaaa2d6'), ObjectId('67ac55453abb9f21eaaaa2d7'), ObjectId('67ac55453abb9f21eaaaa2d8'), ObjectId('67ac55453abb9f21eaaaa2d9'), ObjectId('67ac55453abb9f21eaaaa2da'), ObjectId('67ac55453abb9f21eaaaa2db'), ObjectId('67ac55453abb9f21eaaaa2dc'), ObjectId('67ac55453abb9f21eaaaa2dd'), ObjectId('67ac55453abb9f21eaaaa2de'), ObjectId('67ac55453abb9f21eaaaa2df'), ObjectId('67ac55453abb9f21eaaaa2e0'), ObjectId('67ac55453abb9f21eaaaa2e1'), ObjectId('67ac55453abb9f21eaaaa2e2'), ObjectId('67ac55453abb9f21eaaaa2e3'), ObjectId('67ac55453abb9f21eaaaa2e4'), ObjectId('67ac55453abb9f21eaaaa2e5'), ObjectId('67ac55453abb9f21eaaaa2e6'), ObjectId('67ac55453abb9f21eaaaa2e7'), ObjectId('67ac55453abb9f21eaaaa2e8'), ObjectId('67ac55453abb9f21eaaaa2e9'), ObjectId('67ac55453abb9f21eaaaa2ea'), ObjectId('67ac55453abb9f21eaaaa2eb'), ObjectId('67ac55453abb9f21eaaaa2ec'), ObjectId('67ac55453abb9f21eaaaa2ed'), ObjectId('67ac55453abb9f21eaaaa2ee'), ObjectId('67ac55453abb9f21eaaaa2ef'), ObjectId('67ac55453abb9f21eaaaa2f0'), ObjectId('67ac55453abb9f21eaaaa2f1'), ObjectId('67ac55453abb9f21eaaaa2f2'), ObjectId('67ac55453abb9f21eaaaa2f3'), ObjectId('67ac55453abb9f21eaaaa2f4'), ObjectId('67ac55453abb9f21eaaaa2f5'), ObjectId('67ac55453abb9f21eaaaa2f6'), ObjectId('67ac55453abb9f21eaaaa2f7'), ObjectId('67ac55453abb9f21eaaaa2f8'), ObjectId('67ac55453abb9f21eaaaa2f9'), ObjectId('67ac55453abb9f21eaaaa2fa'), ObjectId('67ac55453abb9f21eaaaa2fb'), ObjectId('67ac55453abb9f21eaaaa2fc'), ObjectId('67ac55453abb9f21eaaaa2fd'), ObjectId('67ac55453abb9f21eaaaa2fe'), ObjectId('67ac55453abb9f21eaaaa2ff'), ObjectId('67ac55453abb9f21eaaaa300'), ObjectId('67ac55453abb9f21eaaaa301'), ObjectId('67ac55453abb9f21eaaaa302'), ObjectId('67ac55453abb9f21eaaaa303'), ObjectId('67ac55453abb9f21eaaaa304'), ObjectId('67ac55453abb9f21eaaaa305'), ObjectId('67ac55453abb9f21eaaaa306'), ObjectId('67ac55453abb9f21eaaaa307'), ObjectId('67ac55453abb9f21eaaaa308'), ObjectId('67ac55453abb9f21eaaaa309'), ObjectId('67ac55453abb9f21eaaaa30a'), ObjectId('67ac55453abb9f21eaaaa30b'), ObjectId('67ac55453abb9f21eaaaa30c'), ObjectId('67ac55453abb9f21eaaaa30d'), ObjectId('67ac55453abb9f21eaaaa30e'), ObjectId('67ac55453abb9f21eaaaa30f'), ObjectId('67ac55453abb9f21eaaaa310'), ObjectId('67ac55453abb9f21eaaaa311'), ObjectId('67ac55453abb9f21eaaaa312'), ObjectId('67ac55453abb9f21eaaaa313'), ObjectId('67ac55453abb9f21eaaaa314'), ObjectId('67ac55453abb9f21eaaaa315'), ObjectId('67ac55453abb9f21eaaaa316'), ObjectId('67ac55453abb9f21eaaaa317'), ObjectId('67ac55453abb9f21eaaaa318'), ObjectId('67ac55453abb9f21eaaaa319'), ObjectId('67ac55453abb9f21eaaaa31a'), ObjectId('67ac55453abb9f21eaaaa31b'), ObjectId('67ac55453abb9f21eaaaa31c'), ObjectId('67ac55453abb9f21eaaaa31d'), ObjectId('67ac55453abb9f21eaaaa31e'), ObjectId('67ac55453abb9f21eaaaa31f'), ObjectId('67ac55453abb9f21eaaaa320'), ObjectId('67ac55453abb9f21eaaaa321'), ObjectId('67ac55453abb9f21eaaaa322'), ObjectId('67ac55453abb9f21eaaaa323'), ObjectId('67ac55453abb9f21eaaaa324'), ObjectId('67ac55453abb9f21eaaaa325'), ObjectId('67ac55453abb9f21eaaaa326'), ObjectId('67ac55453abb9f21eaaaa327'), ObjectId('67ac55453abb9f21eaaaa328'), ObjectId('67ac55453abb9f21eaaaa329'), ObjectId('67ac55453abb9f21eaaaa32a'), ObjectId('67ac55453abb9f21eaaaa32b'), ObjectId('67ac55453abb9f21eaaaa32c'), ObjectId('67ac55453abb9f21eaaaa32d'), ObjectId('67ac55453abb9f21eaaaa32e'), ObjectId('67ac55453abb9f21eaaaa32f'), ObjectId('67ac55453abb9f21eaaaa330'), ObjectId('67ac55453abb9f21eaaaa331'), ObjectId('67ac55453abb9f21eaaaa332'), ObjectId('67ac55453abb9f21eaaaa333'), ObjectId('67ac55453abb9f21eaaaa334'), ObjectId('67ac55453abb9f21eaaaa335'), ObjectId('67ac55453abb9f21eaaaa336'), ObjectId('67ac55453abb9f21eaaaa337'), ObjectId('67ac55453abb9f21eaaaa338'), ObjectId('67ac55453abb9f21eaaaa339'), ObjectId('67ac55453abb9f21eaaaa33a'), ObjectId('67ac55453abb9f21eaaaa33b'), ObjectId('67ac55453abb9f21eaaaa33c'), ObjectId('67ac55453abb9f21eaaaa33d'), ObjectId('67ac55453abb9f21eaaaa33e'), ObjectId('67ac55453abb9f21eaaaa33f'), ObjectId('67ac55453abb9f21eaaaa340'), ObjectId('67ac55453abb9f21eaaaa341'), ObjectId('67ac55453abb9f21eaaaa342'), ObjectId('67ac55453abb9f21eaaaa343'), ObjectId('67ac55453abb9f21eaaaa344'), ObjectId('67ac55453abb9f21eaaaa345'), ObjectId('67ac55453abb9f21eaaaa346'), ObjectId('67ac55453abb9f21eaaaa347'), ObjectId('67ac55453abb9f21eaaaa348'), ObjectId('67ac55453abb9f21eaaaa349'), ObjectId('67ac55453abb9f21eaaaa34a'), ObjectId('67ac55453abb9f21eaaaa34b'), ObjectId('67ac55453abb9f21eaaaa34c'), ObjectId('67ac55453abb9f21eaaaa34d'), ObjectId('67ac55453abb9f21eaaaa34e'), ObjectId('67ac55453abb9f21eaaaa34f'), ObjectId('67ac55453abb9f21eaaaa350'), ObjectId('67ac55453abb9f21eaaaa351'), ObjectId('67ac55453abb9f21eaaaa352'), ObjectId('67ac55453abb9f21eaaaa353'), ObjectId('67ac55453abb9f21eaaaa354'), ObjectId('67ac55453abb9f21eaaaa355'), ObjectId('67ac55453abb9f21eaaaa356'), ObjectId('67ac55453abb9f21eaaaa357'), ObjectId('67ac55453abb9f21eaaaa358'), ObjectId('67ac55453abb9f21eaaaa359'), ObjectId('67ac55453abb9f21eaaaa35a'), ObjectId('67ac55453abb9f21eaaaa35b'), ObjectId('67ac55453abb9f21eaaaa35c'), ObjectId('67ac55453abb9f21eaaaa35d'), ObjectId('67ac55453abb9f21eaaaa35e'), ObjectId('67ac55453abb9f21eaaaa35f'), ObjectId('67ac55453abb9f21eaaaa360'), ObjectId('67ac55453abb9f21eaaaa361'), ObjectId('67ac55453abb9f21eaaaa362'), ObjectId('67ac55453abb9f21eaaaa363'), ObjectId('67ac55453abb9f21eaaaa364'), ObjectId('67ac55453abb9f21eaaaa365'), ObjectId('67ac55453abb9f21eaaaa366'), ObjectId('67ac55453abb9f21eaaaa367'), ObjectId('67ac55453abb9f21eaaaa368'), ObjectId('67ac55453abb9f21eaaaa369'), ObjectId('67ac55453abb9f21eaaaa36a'), ObjectId('67ac55453abb9f21eaaaa36b'), ObjectId('67ac55453abb9f21eaaaa36c'), ObjectId('67ac55453abb9f21eaaaa36d'), ObjectId('67ac55453abb9f21eaaaa36e'), ObjectId('67ac55453abb9f21eaaaa36f'), ObjectId('67ac55453abb9f21eaaaa370'), ObjectId('67ac55453abb9f21eaaaa371'), ObjectId('67ac55453abb9f21eaaaa372'), ObjectId('67ac55453abb9f21eaaaa373'), ObjectId('67ac55453abb9f21eaaaa374'), ObjectId('67ac55453abb9f21eaaaa375'), ObjectId('67ac55453abb9f21eaaaa376'), ObjectId('67ac55453abb9f21eaaaa377'), ObjectId('67ac55453abb9f21eaaaa378'), ObjectId('67ac55453abb9f21eaaaa379'), ObjectId('67ac55453abb9f21eaaaa37a'), ObjectId('67ac55453abb9f21eaaaa37b'), ObjectId('67ac55453abb9f21eaaaa37c'), ObjectId('67ac55453abb9f21eaaaa37d'), ObjectId('67ac55453abb9f21eaaaa37e'), ObjectId('67ac55453abb9f21eaaaa37f'), ObjectId('67ac55453abb9f21eaaaa380'), ObjectId('67ac55453abb9f21eaaaa381'), ObjectId('67ac55453abb9f21eaaaa382'), ObjectId('67ac55453abb9f21eaaaa383'), ObjectId('67ac55453abb9f21eaaaa384'), ObjectId('67ac55453abb9f21eaaaa385'), ObjectId('67ac55453abb9f21eaaaa386'), ObjectId('67ac55453abb9f21eaaaa387'), ObjectId('67ac55453abb9f21eaaaa388'), ObjectId('67ac55453abb9f21eaaaa389'), ObjectId('67ac55453abb9f21eaaaa38a'), ObjectId('67ac55453abb9f21eaaaa38b'), ObjectId('67ac55453abb9f21eaaaa38c'), ObjectId('67ac55453abb9f21eaaaa38d'), ObjectId('67ac55453abb9f21eaaaa38e'), ObjectId('67ac55453abb9f21eaaaa38f'), ObjectId('67ac55453abb9f21eaaaa390'), ObjectId('67ac55453abb9f21eaaaa391'), ObjectId('67ac55453abb9f21eaaaa392'), ObjectId('67ac55453abb9f21eaaaa393'), ObjectId('67ac55453abb9f21eaaaa394'), ObjectId('67ac55453abb9f21eaaaa395'), ObjectId('67ac55453abb9f21eaaaa396'), ObjectId('67ac55453abb9f21eaaaa397'), ObjectId('67ac55453abb9f21eaaaa398'), ObjectId('67ac55453abb9f21eaaaa399'), ObjectId('67ac55453abb9f21eaaaa39a'), ObjectId('67ac55453abb9f21eaaaa39b'), ObjectId('67ac55453abb9f21eaaaa39c'), ObjectId('67ac55453abb9f21eaaaa39d'), ObjectId('67ac55453abb9f21eaaaa39e'), ObjectId('67ac55453abb9f21eaaaa39f'), ObjectId('67ac55453abb9f21eaaaa3a0'), ObjectId('67ac55453abb9f21eaaaa3a1'), ObjectId('67ac55453abb9f21eaaaa3a2'), ObjectId('67ac55453abb9f21eaaaa3a3'), ObjectId('67ac55453abb9f21eaaaa3a4'), ObjectId('67ac55453abb9f21eaaaa3a5'), ObjectId('67ac55453abb9f21eaaaa3a6'), ObjectId('67ac55453abb9f21eaaaa3a7'), ObjectId('67ac55453abb9f21eaaaa3a8'), ObjectId('67ac55453abb9f21eaaaa3a9'), ObjectId('67ac55453abb9f21eaaaa3aa'), ObjectId('67ac55453abb9f21eaaaa3ab'), ObjectId('67ac55453abb9f21eaaaa3ac'), ObjectId('67ac55453abb9f21eaaaa3ad'), ObjectId('67ac55453abb9f21eaaaa3ae'), ObjectId('67ac55453abb9f21eaaaa3af'), ObjectId('67ac55453abb9f21eaaaa3b0'), ObjectId('67ac55453abb9f21eaaaa3b1'), ObjectId('67ac55453abb9f21eaaaa3b2'), ObjectId('67ac55453abb9f21eaaaa3b3'), ObjectId('67ac55453abb9f21eaaaa3b4'), ObjectId('67ac55453abb9f21eaaaa3b5'), ObjectId('67ac55453abb9f21eaaaa3b6'), ObjectId('67ac55453abb9f21eaaaa3b7'), ObjectId('67ac55453abb9f21eaaaa3b8'), ObjectId('67ac55453abb9f21eaaaa3b9'), ObjectId('67ac55453abb9f21eaaaa3ba'), ObjectId('67ac55453abb9f21eaaaa3bb'), ObjectId('67ac55453abb9f21eaaaa3bc'), ObjectId('67ac55453abb9f21eaaaa3bd'), ObjectId('67ac55453abb9f21eaaaa3be'), ObjectId('67ac55453abb9f21eaaaa3bf'), ObjectId('67ac55453abb9f21eaaaa3c0'), ObjectId('67ac55453abb9f21eaaaa3c1'), ObjectId('67ac55453abb9f21eaaaa3c2'), ObjectId('67ac55453abb9f21eaaaa3c3'), ObjectId('67ac55453abb9f21eaaaa3c4'), ObjectId('67ac55453abb9f21eaaaa3c5'), ObjectId('67ac55453abb9f21eaaaa3c6'), ObjectId('67ac55453abb9f21eaaaa3c7'), ObjectId('67ac55453abb9f21eaaaa3c8'), ObjectId('67ac55453abb9f21eaaaa3c9'), ObjectId('67ac55453abb9f21eaaaa3ca'), ObjectId('67ac55453abb9f21eaaaa3cb'), ObjectId('67ac55453abb9f21eaaaa3cc'), ObjectId('67ac55453abb9f21eaaaa3cd'), ObjectId('67ac55453abb9f21eaaaa3ce'), ObjectId('67ac55453abb9f21eaaaa3cf'), ObjectId('67ac55453abb9f21eaaaa3d0'), ObjectId('67ac55453abb9f21eaaaa3d1'), ObjectId('67ac55453abb9f21eaaaa3d2'), ObjectId('67ac55453abb9f21eaaaa3d3'), ObjectId('67ac55453abb9f21eaaaa3d4'), ObjectId('67ac55453abb9f21eaaaa3d5'), ObjectId('67ac55453abb9f21eaaaa3d6'), ObjectId('67ac55453abb9f21eaaaa3d7'), ObjectId('67ac55453abb9f21eaaaa3d8'), ObjectId('67ac55453abb9f21eaaaa3d9'), ObjectId('67ac55453abb9f21eaaaa3da'), ObjectId('67ac55453abb9f21eaaaa3db'), ObjectId('67ac55453abb9f21eaaaa3dc'), ObjectId('67ac55453abb9f21eaaaa3dd'), ObjectId('67ac55453abb9f21eaaaa3de'), ObjectId('67ac55453abb9f21eaaaa3df'), ObjectId('67ac55453abb9f21eaaaa3e0'), ObjectId('67ac55453abb9f21eaaaa3e1'), ObjectId('67ac55453abb9f21eaaaa3e2'), ObjectId('67ac55453abb9f21eaaaa3e3'), ObjectId('67ac55453abb9f21eaaaa3e4'), ObjectId('67ac55453abb9f21eaaaa3e5'), ObjectId('67ac55453abb9f21eaaaa3e6'), ObjectId('67ac55453abb9f21eaaaa3e7'), ObjectId('67ac55453abb9f21eaaaa3e8'), ObjectId('67ac55453abb9f21eaaaa3e9'), ObjectId('67ac55453abb9f21eaaaa3ea'), ObjectId('67ac55453abb9f21eaaaa3eb'), ObjectId('67ac55453abb9f21eaaaa3ec'), ObjectId('67ac55453abb9f21eaaaa3ed'), ObjectId('67ac55453abb9f21eaaaa3ee'), ObjectId('67ac55453abb9f21eaaaa3ef'), ObjectId('67ac55453abb9f21eaaaa3f0'), ObjectId('67ac55453abb9f21eaaaa3f1'), ObjectId('67ac55453abb9f21eaaaa3f2'), ObjectId('67ac55453abb9f21eaaaa3f3'), ObjectId('67ac55453abb9f21eaaaa3f4'), ObjectId('67ac55453abb9f21eaaaa3f5'), ObjectId('67ac55453abb9f21eaaaa3f6'), ObjectId('67ac55453abb9f21eaaaa3f7'), ObjectId('67ac55453abb9f21eaaaa3f8'), ObjectId('67ac55453abb9f21eaaaa3f9'), ObjectId('67ac55453abb9f21eaaaa3fa'), ObjectId('67ac55453abb9f21eaaaa3fb'), ObjectId('67ac55453abb9f21eaaaa3fc'), ObjectId('67ac55453abb9f21eaaaa3fd'), ObjectId('67ac55453abb9f21eaaaa3fe'), ObjectId('67ac55453abb9f21eaaaa3ff'), ObjectId('67ac55453abb9f21eaaaa400'), ObjectId('67ac55453abb9f21eaaaa401'), ObjectId('67ac55453abb9f21eaaaa402'), ObjectId('67ac55453abb9f21eaaaa403'), ObjectId('67ac55453abb9f21eaaaa404'), ObjectId('67ac55453abb9f21eaaaa405'), ObjectId('67ac55453abb9f21eaaaa406'), ObjectId('67ac55453abb9f21eaaaa407'), ObjectId('67ac55453abb9f21eaaaa408'), ObjectId('67ac55453abb9f21eaaaa409'), ObjectId('67ac55453abb9f21eaaaa40a'), ObjectId('67ac55453abb9f21eaaaa40b'), ObjectId('67ac55453abb9f21eaaaa40c'), ObjectId('67ac55453abb9f21eaaaa40d'), ObjectId('67ac55453abb9f21eaaaa40e'), ObjectId('67ac55453abb9f21eaaaa40f'), ObjectId('67ac55453abb9f21eaaaa410'), ObjectId('67ac55453abb9f21eaaaa411'), ObjectId('67ac55453abb9f21eaaaa412'), ObjectId('67ac55453abb9f21eaaaa413'), ObjectId('67ac55453abb9f21eaaaa414'), ObjectId('67ac55453abb9f21eaaaa415'), ObjectId('67ac55453abb9f21eaaaa416'), ObjectId('67ac55453abb9f21eaaaa417'), ObjectId('67ac55453abb9f21eaaaa418'), ObjectId('67ac55453abb9f21eaaaa419'), ObjectId('67ac55453abb9f21eaaaa41a'), ObjectId('67ac55453abb9f21eaaaa41b'), ObjectId('67ac55453abb9f21eaaaa41c'), ObjectId('67ac55453abb9f21eaaaa41d'), ObjectId('67ac55453abb9f21eaaaa41e'), ObjectId('67ac55453abb9f21eaaaa41f'), ObjectId('67ac55453abb9f21eaaaa420'), ObjectId('67ac55453abb9f21eaaaa421'), ObjectId('67ac55453abb9f21eaaaa422'), ObjectId('67ac55453abb9f21eaaaa423'), ObjectId('67ac55453abb9f21eaaaa424'), ObjectId('67ac55453abb9f21eaaaa425'), ObjectId('67ac55453abb9f21eaaaa426'), ObjectId('67ac55453abb9f21eaaaa427'), ObjectId('67ac55453abb9f21eaaaa428'), ObjectId('67ac55453abb9f21eaaaa429'), ObjectId('67ac55453abb9f21eaaaa42a'), ObjectId('67ac55453abb9f21eaaaa42b'), ObjectId('67ac55453abb9f21eaaaa42c'), ObjectId('67ac55453abb9f21eaaaa42d'), ObjectId('67ac55453abb9f21eaaaa42e'), ObjectId('67ac55453abb9f21eaaaa42f'), ObjectId('67ac55453abb9f21eaaaa430'), ObjectId('67ac55453abb9f21eaaaa431'), ObjectId('67ac55453abb9f21eaaaa432'), ObjectId('67ac55453abb9f21eaaaa433'), ObjectId('67ac55453abb9f21eaaaa434'), ObjectId('67ac55453abb9f21eaaaa435'), ObjectId('67ac55453abb9f21eaaaa436'), ObjectId('67ac55453abb9f21eaaaa437'), ObjectId('67ac55453abb9f21eaaaa438'), ObjectId('67ac55453abb9f21eaaaa439'), ObjectId('67ac55453abb9f21eaaaa43a'), ObjectId('67ac55453abb9f21eaaaa43b'), ObjectId('67ac55453abb9f21eaaaa43c'), ObjectId('67ac55453abb9f21eaaaa43d'), ObjectId('67ac55453abb9f21eaaaa43e'), ObjectId('67ac55453abb9f21eaaaa43f'), ObjectId('67ac55453abb9f21eaaaa440'), ObjectId('67ac55453abb9f21eaaaa441'), ObjectId('67ac55453abb9f21eaaaa442'), ObjectId('67ac55453abb9f21eaaaa443'), ObjectId('67ac55453abb9f21eaaaa444'), ObjectId('67ac55453abb9f21eaaaa445'), ObjectId('67ac55453abb9f21eaaaa446'), ObjectId('67ac55453abb9f21eaaaa447'), ObjectId('67ac55453abb9f21eaaaa448'), ObjectId('67ac55453abb9f21eaaaa449'), ObjectId('67ac55453abb9f21eaaaa44a'), ObjectId('67ac55453abb9f21eaaaa44b'), ObjectId('67ac55453abb9f21eaaaa44c'), ObjectId('67ac55453abb9f21eaaaa44d'), ObjectId('67ac55453abb9f21eaaaa44e'), ObjectId('67ac55453abb9f21eaaaa44f'), ObjectId('67ac55453abb9f21eaaaa450'), ObjectId('67ac55453abb9f21eaaaa451'), ObjectId('67ac55453abb9f21eaaaa4

# Task 6: Database connection and data upload

In [305]:
import pandas as pd
import pymysql
from pymongo import MongoClient
from sqlalchemy import create_engine

# Fetch data from MongoDB
mongodb_read = list(collection.find())  # Ensure 'collection' is defined
mongo_df = pd.DataFrame(mongodb_read)

# Drop the '_id' column to avoid conflicts
if '_id' in mongo_df.columns:
    mongo_df.drop('_id', axis=1, inplace=True)

# MySQL Connection Details
host = 'localhost'
username = 'root'
password = '1234'  # Consider using environment variables for security
database_name = 'guvi'

try:
    # Create a connection to MySQL
    engine = create_engine(f'mysql+pymysql://{username}:{password}@{host}/{database_name}', pool_pre_ping=True)
    
    # Check if the connection is successful
    with engine.connect() as connection:
        print("Connection to MySQL database successful.")
        
        # Upload the DataFrame to MySQL
        mongo_df.to_sql('census', con=engine, if_exists='replace', index=False)
        print("DataFrame uploaded successfully.")
except Exception as e:
    print(f"Error connecting to or uploading data to MySQL: {e}")

Connection to MySQL database successful.
DataFrame uploaded successfully.